#page-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: x-large;
}
#intro {
    text-align: center;
}
#page-1 > div {
    margin-left: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#page-1 form {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#page-1 label {
    font-family: monospace;
}

#page-1 form > button,
#page-1 form > input {
    margin-top: 1vh;
    font-size: large;
    background-color: #afe2ff31;
    border: 0.4vh dashed;
    padding: 0.4vh 3vw;
    border-radius: 1em;
    font-family: "Permanent Marker";
}
#page-1 form > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #b9ffc55e;
}
#page-1 form > input {
    font-size: -0.8em;
    text-align: left;
    padding: 1vh 0.5vw 1vh 3vw;
    margin-right: 1vw;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#page-2 {
    height: 87vh;
    padding: 1vh 2vw;
    width: min(max-content 100%);
}

#sub-heading {
    text-align: left;
}

#page-2 > form {
    text-align: left;
    border-bottom: 0.4vh dashed white;
    margin-bottom: 1vh;
}
#page-2 > form > * {
    font-size: x-large;
}

#page-2 > form > select {
    background: lightblue;
    border: 0.4vh dashed;
    border-radius: 0.7em;
    padding: 0 1vw;
    font-family: monospace;
}

#q-area {
    height: 82%;
}

#q-hash {
    float: left;
    margin-right: 2vw;
    border-bottom: 0.3vh dashed;
    border-right: 0.3vh dashed;
    padding: 0.5vh 2vw 0.1vh 0.5vw;
    border-radius: 0.3em;
}

#q {
    text-align: left;
}

#skip {
    background-color: #e8fbaac0;
    border: 0.1vh double;
    font-size: medium;
    padding: 0 2vw;
    border-radius: 1vh;
    margin: 0 1vw 1.5vh 50%;
    width: max-content;
}

#options {
    margin: 0;
    height: 80%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1.5vh;
}

#options > button {
    padding-top: 1vh;
    background-color: #42424263;
    border: 0.4vh dashed beige;
    border-radius: 2vh;
    height: min-content;
}

#options > button > img {
    border-radius: 2vh;
}
#options > button > div {
    height: 10vh;
    color: wheat;
}

#page-3 {
    height: 70vh;
}

#link {
    background-color: #00000064;
    color: whitesmoke;
    border-width: 0;
    padding: 1.5vh 4vw;
    font-family: monospace;
    border-bottom: 0.6vh solid beige;
    border-radius: 4vh;
    margin: 4vh 0;
}

#link::selection {
    background-color: transparent;
}

#link-actions > * {
    cursor: pointer;
    background-color: #d6d6d635;
    border: 0.4vh dashed beige;
    border-radius: 3vh;
    padding: 1vh 3vw;
    margin: auto;
}
