#page-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 3vw;
}

#intro {
    text-align: center;
    padding: 0 2vw;
}

#page-1 > form {
    margin-top: 7vh;
    text-align: left;
}

/* 
#page-1 > form > input {
    margin: 1vh 5vh;
    /* width: 100%; 
    height: 100%;
    border-width: 2px;
    outline: none;
    background: transparent;
} */

#page-1 > form > button, #page-1 > form > input {
    margin-top: 2vh;
    font-size: large;
    background: #d3f889;
    border: .4vh dashed ;
    padding: .4vh 3vw;
    border-radius: 1em;
    outline: none;
}
#page-1 > form > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#page-1 > form > input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
}