@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&family=Permanent+Marker&family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Satisfy, cursive;
    font-size: x-large;
    text-align: center;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(/images/bg.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
input,
button {
    outline: none;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-blend-mode: lighten; */
}

#header > h1 {
    font-family: "Permanent Marker", cursive;
    font-size: xx-large;
    font-weight: 100;
    color: #2c2c2c;
}

::-webkit-scrollbar {
    display: none;
    /* width: 0; */
}